$yellow: #F6E497;
$darkyellow: #cabc7e;
$brown: #776550;
$beige: #ECF0F1;
$darkbeige: #cacecf;
$red: #B9121B;
$highlightblue: #5ABBDA;
$lightblue: #3498DB;
$blue: #2980B9;
$darkblue: #2C3E50;

// Custom theme colors
$purple: #512da8;
$light-purple: #673ab7;
$accent-purple: #b388ff;
$accent-purple-light: #ccaffc;
$accent-purple-dark: #7c4dff;

$dark-text: #333;
$light-text: #9E866B;
