@import "~@angular/material/theming";
@include mat-core();

$poorple-primary: mat-palette($mat-deep-purple, 700, 500, 900);
$poorple-accent: mat-palette($mat-deep-purple, A100);
$poorple-warn: mat-palette($mat-deep-orange, A400);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$poorple: mat-light-theme(
    $poorple-primary,
    $poorple-accent,
    $poorple-warn
);