/* Material Design theme import */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
}