<button routerLink="/store">Back to shop</button>

<mat-vertical-stepper [linear]="true" id="stepper" #stepper>
    <!-- Custom step icons -->
    <ng-template matStepperIcon="edit" let-step="index">
        <mat-icon *ngIf="step == 0">done</mat-icon>
        <mat-icon *ngIf="step != 0">edit</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="number" let-step="index">
        <mat-icon *ngIf="step == 2 && stepper.selectedIndex == 2">done</mat-icon>
        <div *ngIf="!(step == 2 && stepper.selectedIndex == 2)">{{step+1}}</div>
    </ng-template>

    <mat-step [completed]="cart.lines.length != 0 || orderCompleted" [editable]="!orderCompleted">
        <ng-template matStepLabel>Confirm your purchase</ng-template>

        <div class="lines">
            <div *ngFor="let line of cart.lines" class="line">
                <div class="line__info">
                    <div class="line__image">
                        <img src="https://picsum.photos/180/225/?image=992">
                    </div>
                    <div class="line__info-text">
                        <div class="line__title">{{line.product.title}}</div>
                        <div class="line__author">{{line.product.author}}</div>
                    </div>
                </div>
                <div class="line__control">
                    <div class="line__quantity">
                        <button mat-icon-button (click)="increaseQuantity(line)">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                        <span>{{line.quantity}}</span>
                        <button mat-icon-button (click)="decreaseQuantity(line)">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                    </div>
                    <div class="line__total">{{line.lineTotal | currency:"USD":"symbol-narrow":"1.2-2" }}</div>
                </div>
                <!-- <div class="line__remove"
                    (click)="cart.removeLine(line.product.id)">
                    <mat-icon>close</mat-icon>
                </div> -->
            </div>
        </div>

        <div class="cart-summary">
            <div class="cart-summary__title">Your order</div>
            <div class="cart-summary__quantity">
                <div>Number of items:</div>
                <div class="number">{{cart.itemCount}}</div>
            </div>
            <div class="cart-summary__total">
                <div>Total to pay:</div>
                <div class="number">{{cart.cartPrice | currency:"USD":"symbol-narrow":"1.2-2" }}</div>
            </div>
            <div>
                <button mat-flat-button
                matStepperNext [disabled]="cart.lines.length == 0">
                Confirm</button>
            </div>
        </div>
</mat-step>
<mat-step [completed]="orderCompleted" [editable]="!orderCompleted">
    <ng-template matStepLabel>Enter shipping details</ng-template>
    <app-checkout #checkout (validSubmission)="completeOrder()"></app-checkout>
</mat-step>

<mat-step [completed]="orderCompleted" [editable]="true">
    <ng-template matStepLabel>Done!</ng-template>
    <div class="final__header">Thank you for your order!</div>
    <div class="final__body">Your items are on their way.</div>
    <button class="final__button" mat-flat-button
    routerLink="/store">Back to shopping</button>
</mat-step>
</mat-vertical-stepper>
<!-- <div *ngIf="checkout.checkoutForm">{{checkout.checkoutForm.valid}}</div> -->