<mat-vertical-stepper [linear]="true" id="stepper">
    <!-- Custom step icons -->
    <ng-template matStepperIcon="bag">
        <mat-icon>shopping_basket</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step [completed]="cart.lines.length != 0" state="bag">
        <ng-template matStepLabel>Confirm your purchase</ng-template>

        <div class="lines">
            <div *ngFor="let line of cart.lines" class="line">
                <div class="line__info">
                    <div class="line__image">
                        <img src="https://dummyimage.com/120x150/572718/000000.png&text=+BOOK+COVER">
                    </div>
                    <div class="line__info-text">
                        <div class="line__title">{{line.product.title}}</div>
                        <div class="line__author">{{line.product.author}}</div>
                    </div>
                </div>
                <div class="line__control">
                    <div class="line__quantity">
                        <button mat-icon-button (click)="increaseQuantity(line)">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                        <span>{{line.quantity}}</span>
                        <button mat-icon-button (click)="decreaseQuantity(line)">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                    </div>
                    <div class="line__total">{{line.lineTotal | currency:"USD":"symbol-narrow":"1.2-2" }}</div>
                </div>
                <!-- <div class="line__remove"
                    (click)="cart.removeLine(line.product.id)">
                    <mat-icon>close</mat-icon>
                </div> -->
            </div>
        </div>

        <!-- TODO: remove -->
        <div style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="cart.lines.length == 0">
                        <td colspan="4">
                            Your cart is empty
                        </td>
                    </tr>
                    <tr *ngFor="let line of cart.lines">
                        <td>
                            <input type="number"
                            [value]="line.quantity"
                            (change)="cart.updateQuantity(line.product, $event.target.value)"/>
                        </td>
                        <td>{{line.product.title}}</td>
                        <td>
                            {{line.product.price | currency:"USD":"symbol-narrow":"1.2-2"}}
                        </td>
                        <td>
                            {{(line.lineTotal) | currency:"USD":"symbol-narrow":"1.2-2" }}
                        </td>
                        <td>
                            <button (click)="cart.removeLine(line.product.id)">
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total:</td>
                        <td>
                            {{cart.cartPrice | currency:"USD":"symbol-narrow":"1.2-2"}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div>
            <button routerLink="/store">Continue Shopping</button>
            <button routerLink="/checkout"
            [disabled]="cart.lines.length == 0">
            Checkout
        </button>
    </div>

</mat-step>
<mat-step [stepControl]="checkout">
    <ng-template matStepLabel>Enter shipping details</ng-template>
    <app-checkout></app-checkout>
</mat-step>

<mat-step>
    <ng-template matStepLabel>Done!</ng-template>
    <div>Thank you!</div>
    <div>Your items are on their way.</div>
</mat-step>

</mat-vertical-stepper>