@import "~sass/colors";
@import "~sass/breakpoints";

// Glider.js
@import "~glider-js/glider.min";

:host() {
    z-index: 998;
    box-shadow:
    0px -1px 8px 0px rgba(0, 0, 0, 0.2),
    0px -3px 4px 0px rgba(0, 0, 0, 0.14),
    0px -3px 3px -2px rgba(0, 0, 0, 0.12);

    background: $yellow;
    color: $dark-text;

    padding: 0 24px;

    @media screen and (max-width: $md-breakpoint) {
        padding: 0 16px;
    }

    transition: 0.3s;
}

.collapsed {
    min-height: 80px;

    max-width: $md-breakpoint;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;


    .left {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            height: fit-content;
            width: fit-content;

            font-size: 4rem;
            color: $brown;
        }

    }


    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .symbol {
            width: 40px;
            margin-right: 12px;
            background: $brown;
            border-radius: 4%;

            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.25rem;
            font-weight: bold;
            color: $yellow;
            text-align: center;
        }

        .quantity {
            text-align: center;

            font-size: 2rem;
            margin-right: 48px;
            font-weight: 600;
        }

        .total {
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-right: 38px;

            font-size: 2rem;
        }

        .action {
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .action__order {
                margin-right: 8px;
            }
            .action__details {

            }
        }

    }
}

.expanded {
    min-height: 240px;

    max-width: $md-breakpoint;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo--big {
        height: fit-content;
        width: fit-content;

        font-size: 8rem;
        color: $brown;
    }

    .action {
        width: 128px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .symbol {
            width: 40px;
            background: $brown;
            border-radius: 4%;

            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.25rem;
            font-weight: bold;
            color: $yellow;
            text-align: center;
        }

        .total {
            text-align: center;

            flex-grow: 1;

            display: flex;
            flex-direction: row;
            align-items: center;

            font-size: 2rem;

            .total__amount {
                flex-grow: 1;
            }
        }

        button {
            margin-bottom: 4px;
        }
    }
}