<div *ngIf="orderSent">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll deliver your goods to your address.</p>
    <button  routerLink="/store">Return to Store</button>
</div>

<form *ngIf="!orderSent" #checkout="ngForm" novalidate
(ngSubmit)="submitOrder(checkout)"
id="checkout">
<mat-form-field>
    <input matInput #name="ngModel" name="name"
    [(ngModel)]="order.name" required
    placeholder="Name">
    <mat-error *ngIf="submitAttempted && address.invalid">
        Name is <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput #address="ngModel" name="address"
    [(ngModel)]="order.address" required
    placeholder="Address"/>
    <mat-error *ngIf="submitAttempted && address.invalid">
        Address is <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput #city="ngModel" name="city"
    [(ngModel)]="order.city" required
    placeholder="City"/>
    <mat-error *ngIf="submitAttempted && city.invalid">
        City is <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput #zip="ngModel" name="zip"
    [(ngModel)]="order.zip" required
    placeholder="Zip Code"/>
    <mat-error *ngIf="submitAttempted && zip.invalid">
        Zip Code is <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput #country="ngModel" name="country"
    [(ngModel)]="order.country" required
    placeholder="Country"/>
    <mat-error *ngIf="submitAttempted && country.invalid">
        Country is <strong>required</strong>
    </mat-error>
</mat-form-field>
<div>
    <button  routerLink="/cart">Back</button>
    <button  type="submit" >Complete Order</button>
</div>
</form>