<form #checkoutForm="ngForm" novalidate
(ngSubmit)="submitOrder(checkoutForm)"
id="checkout">
<mat-form-field>
    <input matInput type="text" pattern="[A-zÀ-ž\s]+"
    #name="ngModel" name="name"
    [(ngModel)]="order.name" required
    placeholder="Name">
    <mat-error *ngIf="submitAttempted && name.invalid">
        Name is <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput
    #address="ngModel" name="address"
    [(ngModel)]="order.address" required
    placeholder="Address"/>
    <mat-error *ngIf="submitAttempted && address.invalid">
        Address is <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput type="text" pattern="[A-zÀ-ž\s]+"
    #city="ngModel" name="city"
    [(ngModel)]="order.city" required
    placeholder="City"/>
    <mat-error *ngIf="submitAttempted && city.invalid">
        City is <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput pattern="[A-zÀ-ž\s]+"
    #country="ngModel" name="country"
    [(ngModel)]="order.country" required
    placeholder="Country"/>
    <mat-error *ngIf="submitAttempted && country.invalid">
        Country is <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput type="tel" pattern="(?:[+])?[0-9]{9,12}"
    #phone="ngModel" name="phone"
    [(ngModel)]="order.phone" required
    placeholder="Phone Number"/>
    <mat-error *ngIf="submitAttempted && phone.invalid">
        Phone number is <strong>required</strong>
    </mat-error>
</mat-form-field>
<div >
    <button mat-flat-button mat-type="submit">Complete Order</button>
</div>
</form>