<!-- <div class="category-checkbox" *ngFor="let category of categories">
  <mat-checkbox [checked]="false" (change)="changeCategory(category)">
    {{category}}
  </mat-checkbox>
</div> -->

<mat-accordion>
  <mat-expansion-panel class="filter"
  hideToggle [disabled]="true" [expanded]="showFilter">
  <mat-expansion-panel-header fxLayout="column" fxLayoutAlign="end center">
    <mat-form-field fxFlexOffset="3px" fxFlexAlign="center">
      <input matInput type="search"
      placeholder="Search"
      [(ngModel)]="value">
      <button mat-button matSuffix mat-icon-button
      (click)="value=''">
      <mat-icon *ngIf="!value">search</mat-icon>
      <mat-icon *ngIf="value">close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-icon-button fxFlexOffset="3px" fxFlexAlign="center"
  [color]="filterToggleColor"
  (click)="toggleShowFilter()">
  <mat-icon>tune</mat-icon>
</button>
</mat-expansion-panel-header>
<!-- left: add category select -->
<!-- middle: add selected category badges ngFor -->
<!-- right: add sort dropdown -->
</mat-expansion-panel>
</mat-accordion>

<div id="product-grid-wrapper" fxFlexOffset="10px">
  <mat-grid-list class="tile-grid" cols="{{columns}}" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let product of productsOnPage">
      <button class="add-to-cart-button" mat-mini-fab color="primary"
      (click)="addProductToCart(product)">
      <mat-icon aria-hidden="true">add_shopping_cart</mat-icon>
    </button>
    <img class="scale-img" src="../../../assets/open-book-blu.svg">
    <div class="tile-footer">
      <div class="price"> {{product.price}}$ </div>
      <div class="description">
        <div class="title"> {{product.title}} </div>
        <div> {{product.author}} </div>
      </div>
    </div>
  </mat-grid-tile>
  </mat-grid-list>


  <mat-paginator
    [length]="productsInCategory.length"
    [pageIndex]="selectedPage"
    [pageSize]="productsPerPage"
    [pageSizeOptions]="[4, 8, 16, 32]"
    (page)="paginatorEvent($event)">
  </mat-paginator>
</div>