@import "~sass/colors";
@import "~sass/breakpoints";
@import "~sass/utils";

/* this function styles the host container itself, app-store  */
:host() {
    min-height: 0;
    flex-grow: 1;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.filter {
    z-index: 998;
    mat-expansion-panel {
        padding: 5px 8px 0px 8px;

        background: $yellow;

        @media screen and (max-width: $md-breakpoint) {
            padding: 5px 0 0 0;
        }

        mat-expansion-panel-header{
            margin-bottom: 5px;
            padding: 0;

            background: $yellow !important;

            #filter__header {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: fit-content;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.active {
                        color: black;
                    }

                    span {
                        margin-left: 5px;
                    }
                }

                #filter__searchbox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                }
            }

        }

        ::ng-deep .mat-expansion-panel-body{
            padding: 0 16px;

            @media screen and (max-width: $md-breakpoint) {
                padding: 0 8px;
            }

            #filter__content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;

                .filter__content-top{
                    width: 800px;
                    align-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: fit-content;

                    @media screen and (max-width: $md-breakpoint) {
                        width: 304px;
                    }

                    .filter__page-size{
                        width: 140px;

                        @media screen and (max-width: $md-breakpoint) {
                            width: 80px;
                        }
                    }

                    .filter__category-picker {
                        width: 140px;
                    }
                    .filter__sort{
                        width: 140px;

                        @media screen and (max-width: $md-breakpoint) {
                            width: 80px;
                        }
                    }
                }

                .filter__selected-categories{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;

                    button {
                        margin-bottom: 8px;
                    }
                }
            }

        }
    }
}

#catalog {
    background-color: $beige;

    flex-grow: 1;
    overflow: auto;

    #catalog__grid {
        padding: 30px 40px;
        box-sizing: border-box;

        max-width: 1200px;
        margin: 0 auto;

        @media screen and (max-width: $md-breakpoint) {
            width: 100%;
            padding: 10px 5px;
        }

        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        // Fix last row item spacing (when justify-content: space-between;
        // &:after {
            //     content: "";
            //     flex: auto;
            // }

            .item {
                position: relative;

                flex-basis: 25%;

                height: fit-content;
                // min-height: 360px;
                max-height: 360px;
                min-width: 180px;

                padding: 0 0 35px 0;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: $md-breakpoint) {
                    min-width: 140px;
                }

                @media screen and (max-width: $s-breakpoint) {
                    flex-basis: 33%;
                    // min-height: 280px;
                }

                @media screen and (max-width: $xs-breakpoint) {
                    flex-basis: 50%;
                }

                .item__img {
                    max-height: 252px;
                    max-width: 180px;
                    width: 80%;
                }

                .item__details {
                    width: 100%;
                    text-align: center;

                    .item__title {
                        margin: 5px 0 0 0;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: 500;
                        font-size: 1.0625rem;
                        color: $dark-text;
                        min-height: 40px;
                        overflow: hidden;

                        max-height: 40px;
                        transition: max-height 0.3s ease-in;

                        &:hover {
                            height: fit-content;
                            text-decoration: underline;
                            cursor: pointer;

                            max-height: 128px;
                            transition: max-height 0.3s ease-in;
                        }
                    }

                    .item__author {
                        margin: 4px 0 4px 0;
                        font-size: 0.875rem;
                        font-weight: 600;
                        overflow: hidden;
                        color: $light-text;

                        max-height: 16px;
                        transition: max-height 0.3s ease-in;

                        &:hover {
                            height: fit-content;
                            text-decoration: underline;
                            cursor: pointer;

                            max-height: 64px;
                            transition: max-height 0.3s ease-in;
                        }
                    }

                    .item__price {
                        margin: 8px 0 0 0;

                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-size: 1rem;
                        font-weight: 600;
                        color: $dark-text;
                    }
                }

                .item__action-button {
                    box-sizing: border-box;
                    height: 36px;
                    width: 85%;

                    position: absolute;
                    top: 5%;

                    background: $lightblue;
                    transition: 0.3s;
                    border-radius: 5%;
                    font-weight: bold;

                    &:hover {
                        background: $highlightblue;
                    }

                    @media screen and (min-width: $md-breakpoint) {
                        width: 200px;
                    }
                }

                &:hover .hidden {
                    visibility: visible;
                    opacity: 0.9;
                }
            }

        }

        .catalog__empty {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .catalog__empty-text {
                margin-top: 100px;
            }
        }

        .paginator_wrapper{
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;

            .paginator {
                width: 320px;
                padding: 32px 24px;

                @media screen and (max-width: $md-breakpoint) {
                    padding: 16px 16px;
                }

                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;

                .paginator__indicator{
                    .paginator__dropdown {
                        width: 30px;
                    }
                }

                .paginator__button {
                    cursor: pointer;
                    width: 40px;
                    font-size: 0.9375rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: underline;

                }
            }
        }

    }