/* this function styles the host container itself, app-store  */
:host() {
    min-height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.filter {
    background-color: lightblue;

    mat-expansion-panel-header {
        min-height: 65px;
    }
}

.category-checkbox {
    margin-top: 15px;
    margin-left: 15px;
}

#product-grid-wrapper {
    overflow: auto;
    flex-grow: 1;
}

.tile-grid {
    background-color: azure;
}

.tile-footer {
    /* display: block !important; */
    position: absolute;
    bottom: 0;
    height: fit-content !important;
    width: 100%;
    border-radius: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: rgba(173, 175, 199, 0.75);
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(5, 0, 36);
}

.price {
    font-size: 2em !important;
    font-weight: bold;
    color: maroon;
    background-color: steelblue;
}

.add-to-cart-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.scale-img {
    width: 80%;
    margin: 0 auto 0;
}

.paginator {
    position: fixed;
    bottom: 0;
    right: 0;
}