<!-- <div class="category-checkbox" *ngFor="let category of categories">
  <mat-checkbox [checked]="false" (change)="changeCategory(category)">
    {{category}}
  </mat-checkbox>
</div> -->

<mat-accordion class="filter">
  <mat-expansion-panel
  hideToggle [disabled]="true" [expanded]="showFilter">
  <mat-expansion-panel-header>
    <div id="filter__header"
    (click)="toggleShowFilter()">
      <!-- Hidden Flex counterweight buttons -->
      <button class="filter__button hidden" mat-button>
        <mat-icon>tune</mat-icon>
        <span>FILTER</span>
      </button>
      <!-- Alt button for mobile -->
      <button class="filter__button--mobile hidden" mat-button>
        <mat-icon>tune</mat-icon>
      </button>
      <div id="filter__searchbox">
        <mat-form-field>
          <input matInput type="text" placeholder="Search"
          [(ngModel)]="searchText" (keyup)="pageSelect(1)"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">

          <button *ngIf="searchText"
          mat-button mat-icon-button matSuffix
          (click)="searchText=''; $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
    </div>
    <!-- Visible buttons -->
    <button mat-button class="filter__button"
    [class.isActive]="showFilter">
    <mat-icon>tune</mat-icon>
    <span>FILTER</span>
  </button>
  <!-- Alt button for mobile -->
  <button class="filter__button--mobile" mat-button
  [class.isActive]="showFilter">
      <mat-icon>tune</mat-icon>
    </button>
</div>
</mat-expansion-panel-header>
<div id="filter__content">
  <div class="filter__content-top">
    <!-- page size dropdown -->
    <mat-form-field class="filter__page-size">
      <mat-select placeholder="Page size">
        <mat-option *ngFor="let size of pageSizeOptions" [value]="size"
        (click)="pageResize(size)">
        {{size}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- category select dropdown -->
    <mat-form-field class="filter__category-picker" floatLabel="never">
      <mat-label>Choose Category</mat-label>
      <mat-select multiple placeholder="Category"
      [(ngModel)]="selectedCategories">
      <mat-select-trigger>Choose Category</mat-select-trigger>
      <mat-option *ngFor="let category of categories" [value]="category"
      (click)="pageSelect(1)">
      {{category}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- sort dropdown -->
  <mat-form-field class="filter__sort">
    <mat-select placeholder="Sort By">
      <mat-option *ngFor="let option of sortOptions" [value]="option"
      (click)="sortProducts(option)">
      {{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!-- selected category badges -->
<div class="filter__selected-categories">
  <button *ngFor="let category of selectedCategories"
  mat-stroked-button id="filter__selected-button"
  (click)="changeCategory(category, categoryModel)">
  <mat-icon>close</mat-icon>
  <span class="filter__selected-button-text">{{category}}</span>
</button>
</div>
</div>
</mat-expansion-panel>
</mat-accordion>

<div id="catalog">
  <div id="catalog__grid">
    <div class="item" *ngFor="let product of productsOnPage">
      <button mat-flat-button
      class="item__action-button hidden" [class.mat-elevation-z2]="true"
      (click)="addProductToCart(product)">
      Add to bag
    </button>
      <img class="item__img" src="https://picsum.photos/180/225/?image=991" appFallbackSrc="../../../assets/cover.jpg">
    <div class="item__details">
      <div class="item__title"> {{product.title}} </div>
      <div class="item__author"> {{product.author}} </div>
      <div class="item__price"> {{ product.price | currency:"USD":"symbol-narrow":"1.2-2"}}</div>
    </div>
  </div>
</div>



<div class="paginator_wrapper">
  <div class="paginator"
  *ngIf="numberOfPages">
  <a class="paginator__button" [class.hidden] = "selectedPage < 1"
  (click)="pagePrevious()">
  Back
</a>
<span class="paginator__indicator">
  <mat-form-field class="paginator__dropdown">
    <mat-select [(value)]="selectedPage">
      <mat-option *ngFor="let page of arrayOfPages" [value]="page">
        {{page + 1}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span> of {{numberOfPages}}</span>
</span>
<a class="paginator__button" [class.hidden] = "selectedPage === numberOfPages - 1"
(click)="pageNext()">
Next
</a>
</div>
</div>

<div *ngIf="allProducts.length && !productsOnPage.length" class="catalog__empty">
  <span class="catalog__empty-text">
    Sorry, there are no items like that.
  </span>
</div>

</div>

<!-- <cart-bar
[style.height]="cart.itemCount ? 'fit-content' : '0'"
[style.opacity]="cart.itemCount ? '1' : '0'"></cart-bar> -->