@import "~sass/breakpoints";

:host() {
    flex-shrink: 0;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 999;
}

#logo {
    margin-left: 8px;

    @media screen and (max-width: $max-width-breakpoint) {
        margin:0;
    }
}

.toolbar-button {
    &:not(:last-child) {
        margin-right: 16px;
    }
    &:last-child {
        margin-right: 8px;

        @media screen and (max-width: $max-width-breakpoint) {
            margin:0;
        }
    }

}