:host() {
    flex-shrink: 0;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1001;
}

.toolbar-button:not(:last-child) {
    margin-right: 15px;
}