@import "~sass/breakpoints";
@import "~sass/mixins";
@import "~sass/colors";

:host() {
    flex-shrink: 0;
    z-index: 999;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 1200px;
    width: 100%;

    margin: 0 auto;

    #logo {
        display: flex;
        align-items: center;
        margin-left: 8px;

        font-family: "Homestead Regular";
        font-size: 1.25rem;
        text-decoration: none;

        color: #ECF0F1;

        mat-icon {
            @include mat-icon-size(1.5rem);
        }

        @media screen and (max-width: $md-breakpoint) {
            margin:0;
        }

        @media screen and (min-width: $md-breakpoint) {
            font-size: 1.5rem;
            mat-icon {
                @include mat-icon-size(1.8rem);
            }
        }
    }

    #links {
        a {
            margin-right: 16px;

            font-family: "Homestead Regular";
            text-decoration: none;
            font-size: 0.875rem;
            color: #ECF0F1;
        }

        @media screen and (max-width: $xs-breakpoint - 1) {
            display: none;
        }
    }

    #menu-button {
        color: #ECF0F1;

        @media screen and (min-width: $xs-breakpoint) {
            display: none;
        }
    }

    #cart-summary {
        margin-right: 16px;
        color: $dark-text;

        &[disabled] {
            color: $beige;
        }
    }

}