<mat-toolbar [class.mat-elevation-z0]="true" color="primary">

  <div class="container">

    <a id="logo" routerLink="/store">
      <mat-icon [inline]="true">layers</mat-icon>
      Bookey
    </a>

    <!-- This fills the remaining space of the current row -->
    <span style="flex: 1 1 auto"></span>

    <div id="links">
      <a routerLink="/">About</a>
      <a routerLink="/">FAQ</a>
      <a routerLink="/">Contact</a>
    </div>

    <div (click)="tooltip.show()" #tooltip="matTooltip" matTooltip="It's empty!" [matTooltipPosition]="'below'"
    matTooltipClass="tooltip" matTooltipHideDelay="2000"
    [matTooltipDisabled]="cart.itemCount != 0">
    <button id="cart-summary" mat-mini-fab color="accent"
    routerLink="/cart"
    [disabled]="cart.itemCount == 0">
    <mat-icon aria-hidden="true"
    matBadge="{{cart.itemCount}}" [matBadgeHidden]="cart.itemCount == 0"
    matBadgePosition="below after" matBadgeSize="medium" matBadgeColor="warn" matBadgeOverlap="true">shopping_cart</mat-icon>
  </button>
  </div>

  <button mat-icon-button id="menu-button"
  [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>About</span>
    </button>
    <button mat-menu-item>
      <span>FAQ</span>
    </button>
    <button mat-menu-item>
      <span>Contact</span>
    </button>
  </mat-menu>

</div>
</mat-toolbar>